.section-title {
    margin-top: 0;
    color: #fff;
    font-size: 22px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    border-bottom: solid 1px #dadada;
}

@media screen and (max-width: 520px) {
    .section-title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }
}
