.profile {
    max-width: 1280px;
    background-color: #202020;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.profile__title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 74px;
    margin-bottom: 0;
}

.profile__form {
    display: flex;
    flex-direction: column;
}

.profile__fieldset {
    border: none;
    width: 410px;
    margin: 99px auto 0 auto;
    padding: 0;
}

.profile__field {
    display: flex;
    justify-content: space-between;
    margin: 0;
    color: #fff;
    font-size: 11px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile__field_first {
    border-bottom: 1px solid #424242;
    padding-bottom: 14px;
    margin-bottom: 17px;
}

.profile__name {
    margin: 0;
}

.profile__input {
    color: #fff;
    background-color: #202020;
    border: none;
    text-align: right;
}

.profile__input-error {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ee3465;
    height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
    margin: 6px 0 6px 0;
}

.profile__api-error {
    color: #FF004C;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 183px 0 0 0;
    min-height: 13px;
}

.profile__input:focus {
    outline: none;
}

.profile__edit-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 220px;
}

.profile__link {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ee3465;
    text-align: center;
    font-size: 13px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 16px;
    padding-bottom: 70px;
}

.profile__submit-btn {
    height: 45px;
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.profile__submit-btn_disabled {
    color: #c2c2c2;
    background: #F8F8F8;
    cursor: auto;
}

.profile__edit-btn:hover {
    opacity: 80%;
}

.profile__submit-btn__button_disabled:hover {
    opacity: 100%;
}

.profile__link:hover {
    opacity: 70%;
}

.profile__submit-btn:hover {
    opacity: 70%;
}

@media screen and (max-width: 768px) {
    .profile {
        min-height: 950px;
    }

    .profile__title {
        margin-top: 236px;
    }

    .profile__fieldset {
        margin-top: 73px;
    }

    .profile__api-error {
        margin-top: 176px;
    }

    .profile__edit-btn {
        margin-top: 209px;
    }
}

@media screen and (max-width: 520px) {
    .profile__title {
        margin-top: 70px;
    }

    .profile__fieldset {
        margin-top: 56px;
        width: 260px;
    }

    .profile__edit-btn {
        margin-top: 378px;
        font-size: 12px;
    }

    .profile__link {
        font-size: 12px;
    }

    .profile__api-error {
        margin-top: 345px;
    }

}

