.login {
    max-width: 396px;
    min-height: 100vh;
    background-color: #202020;
    box-sizing: border-box;
    margin: 0 auto;
}

.login__header {
    padding-top: 70px;
    margin: 0 auto;
    max-width: 396px;
}

.login__title {
    color: #fff;
    font-size: 24px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px auto;
}

.login__form {
    margin: 40px auto 0 auto;
}

.login__field {
    color: #8b8b8b;
    display: flex;
    flex-direction: column;
}

.login__field-name {
    margin: 0;
    color: #8b8b8b;
    font-size: 10px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.login__input {
    color: #fff;
    font-size: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background-color: transparent;
    border-right: none;
    border: 0;
    border-bottom: solid 1px #424242;
    padding: 5px 0 10px 0;
}

.login__input:focus {
    outline: none;
    border-bottom-color: #4285F4;
}

.login__input_active {
    border-bottom-color: #4285F4;
}

.login__button {
    height: 45px;
    background-color: #4285f4;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 100%;
    margin-top: 20px;
}

.login__button_disabled {
    color: #c2c2c2;
    background: #F8F8F8;
    cursor: auto;
}

.login__button:hover {
    opacity: 80%;
}

.login__button_disavled:hover {
    opacity: 100%;
}


.login__unregistered {
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.login__register-text {
    color: #8b8b8b;
    margin: 0;
}

.login__register-link {
    margin: 0 0 0 6px;
    text-decoration: none;
    color: #4285F4;
}

.login__login-link:hover {
    opacity: 80%;
}

.login__input-error {
    margin-top: 6px;
    font-size: 10px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ee3465;
    height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}

.login__input_invalid {
    color: #ee3465;
}

.login__register-link:hover {
    opacity: 70%;
}

.login__api-error {
    color: #FF004C;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 95px 0 0 0;
    min-height: 13px;
}

@media screen and (max-width: 768px) {
    .login {
        min-height: 1024px;
    }

    .login__header {
        padding-top: 232px;
    }
}

@media screen and (max-width: 520px) {

    .login {
        max-width: 260px;
        min-height: 780px;
    }

    .login__header {
        padding-top: 56px;
        display: flex;
        justify-content: center;
    }

    .login__form {
        width: 260px;
    }

    .login__field {
        width: 260px;
    }

    .login__title {
        margin-top: 50px;
        text-align: center;
    }

    .login__form {
        margin-top: 80px;
    }

    .login__api-error {
        margin-top: 251px;
    }

    .login__unregistered {
        font-size: 12px;
    }
}
